<!DOCTYPE html>
<html>
  <head>
    <title>Songs List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div id="add-song-title">
      <h3> <a href='/newsong' >Add Your Own Song</a> </h3>
    </div>
      <!-- list out songs -->
        <section id="songs-list">
            <% mySongs.forEach(song => { %>  
              <form action="/songslist?_method=DELETE" method="POST">
                <div class="card m-1" id="song-<%= song._id %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= song.title %></h5>
                    <div><%= song.artist%></div>
                    <div><%= song.album%></div>
                    <div><%= song.published%></div>
                    <input type="hidden" name="id" value="<%= song._id %>" />
                    <button type="submit">Remove</button>
                  </div>
                </div>
            </form>
            <% }) %>
          </section>
    </div>
  </body>
</html>
