<!DOCTYPE html>
<html>
  <head>
    <title>Songs List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/songs-list.css" />
  </head>
  <body class="body-container">
    <%- include('../partials/navbar') %>
    <div id="add-song-title">
      <h3> <a href='/newsong' >Click to add your own song</a> </h3>
    </div>
      <!-- list out songs -->
        <% if(mySongs.length) { %>
        <div class="table-container">
        <table id="songs-list">
          <thead >
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Released at</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% mySongs.forEach(song => { %> 
              <form action="/songslist?_method=DELETE" method="POST">
                <tr id="song-<%= song._id %>">
                    <td><h5 ><%= song.title %></h5></td>
                    <td><%= song.artist%></td>
                    <td><%= song.album%></td>
                    <td><%= song.published%></td>
                    <td>
                      <img src="../../public/images/like-512.png">
                      <button class='small-button'>Like</button>
                    </td>
                    <td id="likeCount"></td>
                    <td><button type="submit" class="small-button">Remove</button></td>
                    <input type="hidden" name="id" value="<%= song._id %>" />
                  </div>
                </tr>
            </form>
            <% }) %>
          </tbody>
        </table>
      </div>
          <% } else{ %>
            <div id="emptylist">
              <h3>No Loved Song Yet.</h3>
            </div>
          <% } %>
    </div>
  </body>
</html>
